    /* Import Google Fonts */
    
    @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "DotGothic16", sans-serif;
    }
    
    .app-header .heading,
    .app-header .sub-heading {
        font-family: "Train One", cursive;
    }
    
     :root {
        /* Dark theme colors */
        --text-color: hsl(36, 100%, 96%);
        --subheading-color: hsl(36, 32%, 69%);
        --placeholder-color: hsl(36, 29%, 82%);
        --primary-color: hsl(36, 37%, 10%);
        --secondary-color: hsl(36, 27%, 21%);
        --secondary-hover-color: hsl(36, 27%, 27%);
        --scrollbar-color: hsl(36, 13%, 44%);
    }
    
    body.light-theme {
        /* Light theme colors */
        --text-color: hsl(36, 36%, 5%);
        --subheading-color: hsl(36, 24%, 58%);
        --placeholder-color: hsl(36, 15%, 44%);
        --primary-color: hsl(36, 100%, 98%);
        --secondary-color: hsl(36, 71%, 92%);
        --secondary-hover-color: hsl(36, 55%, 89%);
        --scrollbar-color: hsl(36, 21%, 70%);
    }
    
    body {
        color: var(--text-color);
        background: var(--primary-color);
    }
    
    .container {
        overflow-y: auto;
        padding: 32px 16px 60px;
        /* Add horizontal padding */
        height: calc(100vh - 127px);
        scrollbar-color: var(--scrollbar-color) transparent;
        box-sizing: border-box;
    }
    
    .container :where(.app-header,
    .suggestions,
    .message,
    .prompt-wrapper) {
        position: relative;
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
        max-width: 990px;
    }
    
    .container .app-header {
        margin-top: 3vh;
        text-align: center;
    }
    
    .app-header .heading {
        /* Remove width: fit-content; */
        font-size: 3rem;
        background: linear-gradient(to right, hsl(36, 98%, 55%), hsl(56, 98%, 55%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
        /* Ensures it fills the parent width for centering */
        margin-left: auto;
        margin-right: auto;
    }
    
    .app-header .sub-heading {
        font-size: 2.6rem;
        margin-top: -5px;
        color: var(--subheading-color);
    }
    
    .container .suggestions {
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        /* Allow wrapping */
        gap: 15px;
        margin-top: 9.5vh;
        padding-bottom: 8px;
        /* Remove horizontal scrolling */
        overflow-x: unset;
        scroll-snap-type: unset;
    }
    
    body.chats-active .container :where(.app-header,
    .suggestions) {
        display: none;
    }
    
    .suggestions .suggestions-item {
        box-sizing: border-box;
        flex: 1 1 220px;
        /* Responsive width, min 220px */
        max-width: 100%;
        min-width: 220px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-radius: 12px;
        justify-content: space-between;
        background: var(--secondary-color);
        transition: 0.3s ease;
        padding: 18px;
        /* Remove fixed width if needed for responsiveness */
    }
    
    .suggestions .suggestions-item:hover {
        background: var(--secondary-hover-color);
    }
    
    .suggestions .suggestions-item .text {
        font-size: 1.1rem;
    }
    
    .suggestions .suggestions-item .icon {
        width: 45px;
        height: 45px;
        display: flex;
        font-size: 1.4rem;
        margin-top: 35px;
        align-self: flex-end;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        color: #1d7efd;
        background: var(--primary-color);
    }
    
    .suggestions .suggestions-item:nth-child(2) .icon {
        color: #28a745;
    }
    
    .suggestions .suggestions-item:nth-child(3) .icon {
        color: #ffc107;
    }
    
    .suggestions .suggestions-item:nth-child(4) .icon {
        color: #c14242;
    }
    
    .suggestions-item {
        cursor: pointer;
    }
    
    .container .chats-container {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    
    .chats-container .message {
        display: flex;
        gap: 11px;
        align-items: center;
    }
    
    .chats-container .message .avatar {
        width: 43px;
        height: 43px;
        flex-shrink: 0;
        align-self: flex-start;
        border-radius: 50%;
        padding: 6px;
        margin-right: -7px;
        background: var(--secondary-color);
        border: 1px solid var(--secondary-hover-color);
    }
    
    .chats-container .message.loading .avatar {
        animation: rotate 3s linear infinite;
    }
    
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
    
    .chats-container .message .message-text {
        padding: 3px 16px;
        word-wrap: break-word;
        white-space: pre-line;
    }
    
    .chats-container .bot-message {
        margin: 9px auto;
    }
    
    .chats-container .user-message {
        flex-direction: column;
        align-items: flex-end;
    }
    
    .chats-container .user-message .message-text {
        padding: 12px 16px;
        max-width: 75%;
        background: var(--secondary-color);
        border-radius: 13px 13px 3px 13px;
    }
    
    .chats-container .user-message .img-attachment {
        margin-top: -7px;
        width: 50%;
        border-radius: 13px 3px 13px 13px;
    }
    
    .chats-container .user-message .file-attachment {
        display: flex;
        gap: 6px;
        align-items: center;
        padding: 10px;
        margin-top: -7px;
        border-radius: 13px 3px 13px 13px;
        background: var(--secondary-color);
    }
    
    .chats-container .user-message .file-attachment span {
        color: hsl(36, 98%, 55%);
    }
    
    .container .prompt-container {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 16px 0;
        background: var(--primary-color);
    }
    
    .prompt-container :where(.prompt-wrapper,
    .prompt-form,
    .prompt-actions) {
        display: flex;
        gap: 12px;
        height: 56px;
        align-items: center;
    }
    
    .prompt-container .prompt-form {
        height: 100%;
        width: 100%;
        border-radius: 130px;
        background: var(--secondary-color);
    }
    
    .prompt-form .prompt-input {
        width: 100%;
        height: 100%;
        background: none;
        outline: none;
        border: none;
        font-size: 1rem;
        color: var(--text-color);
        padding-left: 24px;
    }
    
    .prompt-form .prompt-input::placeholder {
        color: var(--placeholder-color);
    }
    
    .prompt-wrapper button {
        width: 56px;
        height: 100%;
        flex-shrink: 0;
        cursor: pointer;
        border-radius: 50%;
        font-size: 1.4rem;
        border: none;
        color: var(--text-color);
        background: var(--secondary-color);
        transition: 0.3s ease;
    }
    
    .prompt-wrapper :is(button:hover,
    #cancel-file-btn,
    .file-icon) {
        background: var(--secondary-hover-color);
    }
    
    .prompt-form .prompt-actions {
        gap: 5px;
        margin-right: 7px;
    }
    
    .prompt-wrapper .prompt-form :where(.file-upload-wrapper,
    button,
    img) {
        position: relative;
        height: 45px;
        width: 45px;
    }
    
    .prompt-form .prompt-actions #send-prompt-btn {
        color: #fff;
        display: none;
        background: hsl(36, 98%, 55%);
    }
    
    .prompt-form .prompt-input:valid~.prompt-actions #send-prompt-btn {
        display: block;
    }
    
    .prompt-form #send-prompt-btn:hover {
        background: hsl(36, 98%, 45%);
    }
    
    .prompt-form .file-upload-wrapper :where(button,
    img) {
        display: none;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
    }
    
    .prompt-form .file-upload-wrapper.active #add-file-btn {
        display: none;
    }
    
    .prompt-form .file-upload-wrapper #add-file-btn,
    .prompt-form .file-upload-wrapper.active.img-attached img,
    .prompt-form .file-upload-wrapper.active.file-attached .file-icon,
    .prompt-form .file-upload-wrapper.active:hover #cancel-file-btn {
        display: block;
    }
    
    .prompt-form :is(#stop-response-btn:hover,
    #cancel-file-btn) {
        color: #d62939;
    }
    
    .prompt-wrapper .prompt-form .file-icon {
        color: hsl(36, 98%, 55%);
    }
    
    .prompt-form #stop-response-btn,
    body.bot-responding .prompt-form .file-upload-wrapper {
        display: none;
    }
    
    body.bot-responding .prompt-form #stop-response-btn {
        display: block;
    }
    
    .prompt-container .disclaimer-text {
        font-size: 0.9rem;
        text-align: center;
        padding: 16px 20px 0;
        color: var(--placeholder-color);
    }
    /* Responsive media query code for small screens */
    
    @media (max-width: 768px) {
        .container {
            padding: 20px 0 100px;
        }
        .app-header :is(.heading,
        .sub-heading) {
            font-size: 2rem;
            line-height: 1.4;
        }
        .app-header .sub-heading {
            font-size: 1.7rem;
        }
        .container .chats-container {
            gap: 15px;
        }
        .chats-container .bot-message {
            margin: 4px auto;
        }
        .prompt-container :where(.prompt-wrapper,
        .prompt-form,
        .prompt-actions) {
            gap: 8px;
            height: 53px;
        }
        .prompt-container button {
            width: 53px;
        }
        .prompt-form :is(.file-upload-wrapper,
        button,
        img) {
            height: 42px;
            width: 42px;
        }
        .prompt-form .prompt-input {
            padding-left: 20px;
        }
        .prompt-form .file-upload-wrapper.active #cancel-file-btn {
            opacity: 0;
        }
        .prompt-wrapper.hide-controls :where(#theme-toggle-btn,
        #delete-chats-btn) {
            display: none;
        }
    }
    
    .icon material-symbols-rounded {
        font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 24;
        cursor: pointer
    }
    
    .disclaimer-text {
        cursor: help;
    }
    
    .app-header {
        cursor: default;
    }
    
    .text {
        cursor: pointer;
    }
    
    #delete-chats-btn:hover {
        background: #d62939;
        color: #fff;
        content: "Deletes the chat";
    }